
.header{
  position: relative;
  padding: 0 1rem;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid gainsboro;
}
.header1{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header1 input{
  padding: 4px 6px;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 20px;
}

.header2{
  width: 100%;
  height: 30px;
  padding: 0 1rem;
  justify-content: space-between;
  max-width: 500px;
  margin-bottom: 10px;
}