.flex{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.flex-c{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.flex-cc{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-b{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrap-r{
  display: flex;
  align-items: center;
  justify-content: right;
}
.wrap-c{
  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  text-decoration: none;
  color: black;
}